<p>my-hats works!</p>

<h3>Hello {{currentUser.firstName}}</h3>
<button (click)="randomHatPicker()">Rando</button>
<div id="randomDiv">...Loading</div>
<div class = 'cardDeck'>
    <div *ngFor="let hat of currentUser.myCollection">
        <div class="container">
            <div class="card">
              <div class="imgBx">
                <img src="{{hat.images}}">
              </div>
              <div class="contentBx">
                <h2>{{hat.type | titlecase}} - {{hat.material | titlecase}} </h2>
                <div class="color">
                    <h3>Color: {{hat.color | titlecase}}</h3>
                </div>
                <div class="size">
                    <h3>Did you know? <br/>
                    {{hat.facts}}</h3>
                </div>            
                <div><button (click)="RemoveFromCollection(hat.id)">Remove from my Collection</button></div>
              </div>
            </div>
          </div>
    </div>
</div>
    <div *ngFor="let hat of currentUser.worn30">
        {{hat.type}} / {{hat.color}}
    </div>



