<div class="cardDeck">
<div *ngFor="let hat of allHats">
    <div class="container">
        <div class="card">
          <div class="imgBx">
            <img src="{{hat.images}}">
          </div>
          <div class="contentBx">
            <h2>{{hat.type | titlecase}} - {{hat.material | titlecase}} </h2>
            <div class="color">
                <h3>Color: {{hat.color | titlecase}}</h3>
            </div>
            <div class="size">
                <h3>Did you know? <br/>
                {{hat.facts}}</h3>
            </div>            
            
          </div>
        </div>
      </div>
      <div><button (click)="AddToCollection(hat.id)">Add to Collection</button><button (click)="RemoveFromCollection(hat.id)">Remove from my Collection</button></div>
</div>
</div>